services:
  telemt:
    build: .
    container_name: telemt
    restart: unless-stopped
    ports:
      - "443:443"
    volumes:
      - ./config.toml:/app/config.toml:ro
    environment:
      - RUST_LOG=info
    # Uncomment this line if you want to use host network for IPv6, but bridge is default and usually better
    # network_mode: host
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE   # allow binding to port 443
    read_only: true
    security_opt:
      - no-new-privileges:true